* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutPoke {
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: relative;
}

.picture {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture img {
  max-height: 30vh;
  min-height: 30vh;
  max-width: 45vw;
}

.description {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#515200, #151502);
  position: absolute;
}

.pokeTypes {
  display: flex;
  flex-direction: row;
}

.infoAboutPoke {
  color: rgb(255, 252, 239);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.twoArticles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1290px;
  width: 100%;
}

.twoArticles h3,
h4 {
  margin: 10px;
}

.twoArticles article {
  min-height: 50vh;
  min-width: 300px;
  width: 40vw;
  border-radius: 15px;
  padding: 10px;

}

.pokeName {
  font-size: 75px;
}

@media screen and (max-width: 900px) {
  .twoArticles {
    flex-direction: column;
  }
}