*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.home{
  height: 80vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(245, 245, 220, 0.308);
  border-radius: 10px;
}
