*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.home{
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-direction: row;
  background-color: rgba(245, 245, 220, 0.496);
  border-radius: 10px;

}
