.missingPath {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  background: black url('../../images/wallhaven-6q75gx.png')no-repeat center center/contain fixed;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;

  min-width: 300px;
  min-height: 600px;
  width: 40vw;
  border-radius: 20px;
  font-size: 50px;
  margin-left: 40vw;
}

.modal h2 {
  margin: 40px;
}