.animation {
  display: block;
  position: relative;
}

.parallaxPic {
  width: 100vw;
  position: absolute;
  height: 80vh;
}

#pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
  position: absolute;
  z-index: 2;
}

#pokemon img {
  width: 300px;
  height: auto;
}