*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.template{
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 80vh;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 80vh;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  margin: 1rem;
font-size: larger;
border-radius: 0.5rem;
}