@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');

:root {
  --whiteText: whitesmoke;
  --white: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  background: url('./images/wallhaven-1jq9r3.png') no-repeat center center/cover fixed;

}