@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');

:root {
  --whiteText: whitesmoke;
  --yelow: #dac44a;
  --darkYelow: #b9a740;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overscroll-behavior-y: none;
}

.App {
  background: url('./images/wallhaven-1jq9r3.png') no-repeat center center/cover fixed;

}